[TelegramBot]
token = "TELEGRAM_BOT_TOKEN_HERE"
local_mode = true
base_url = "http://localhost:8081/bot"

[YoutubeDL]
output_template = "Temp-YouTube-Files/youtube-%(id)s.opus"

[Database]
type = "sqlite3"
path = "db.sqlite3"

[Admin]
admin_ids = [ADMIN_ID_HERE,]

[Commands]
song.flag.repost.text = "-repost"
songs.flag.repost.text = "-repost"